# Backend
node_modules/
backend/node_modules/
backend/.env
backend/backend/.env
backend/.env.*
backend/backend/.env.*
.env
.env.*

# Flutter build
swappit_flutter/build/
swappit_flutter/.dart_tool/
swappit_flutter/.flutter-plugins
swappit_flutter/.flutter-plugins-dependencies
swappit_flutter/.packages
swappit_flutter/pubspec.lock

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# General
.DS_Store
Thumbs.db
*.log

# Local env docs
.README_env
